<div class="card">
   <div class="card-header pb-0">
     <h5>Mouse Wheel Example</h5>
   </div>
   <div class="card-body">
    <owl-carousel-o [options]="owlcarousel13ptions">
      <ng-template carouselSlide class="item" *ngFor="let img of owlcarousel1">
        <img [src]="[img.img]" alt="">
      </ng-template>
    </owl-carousel-o>
   </div>
 </div>