<div class="modal-header">
  <h4 class="modal-title pull-left">Result</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center py-3">
        <img
          src="../../../../assets//images/check.jpeg"
          alt=""
          height="170px"
          width="170px"
        />
      </div>
      <div class="col-lg-12 py-3 text-center">
        <h3 class="fw-semibold">Exam Submitted Successfully</h3>
        <h5>Thank you For Appearing in Exam</h5>
      </div>
      <div class="col-lg-12 d-flex justify-content-center">
        <table class="table table-bordered text-center">
          <thead class="border table-light">
            <tr>
              <th>Total Question</th>
              <th>Attempt Question</th>
              <th>Obtained Marks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{receivedData?.totalQuestion}}</td>
              <td>{{receivedData?.attemptedQuestion}}</td>
              <td>{{receivedData?.obtainedMarks}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">Result:</td>
              <td class="text-danger" *ngIf="receivedData?.testResult == 'Fail'">{{receivedData?.testResult}}</td>
              <td class="text-success" *ngIf="receivedData?.testResult == 'Pass'">{{receivedData?.testResult}}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-lg-12 py-3 text-center">
        <button class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="okClick()">OK</button>
</div>
