<div class="card">
   <div class="card-header social-header">
   <h5 class="f-w-600">Hobbies and Interests<span class="pull-right"><app-feather-icons [icon]="'more-vertical'"></app-feather-icons></span></h5>
   </div>
   <div class="card-body pt-0">
      <div class="row details-about ">
         <ng-container *ngFor="let hobbies of HobbiesData">
            <div class="col-sm-6">
               <div class="your-details m-5" >
               <h6 class="f-w-600">{{hobbies.title}}</h6>
               <p>{{hobbies.desc}}</p>
               </div>
            </div>
         </ng-container>
      </div>
   </div>
</div>