<div class="container-fluid">
   <div class="row">
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart1></app-chart1>  
     </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart2></app-chart2>  
    </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart3></app-chart3>  
     </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart4></app-chart4>  
     </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart5></app-chart5>  
     </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart6></app-chart6>  
     </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart7></app-chart7>  
     </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart8></app-chart8>  
     </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart9></app-chart9>  
     </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart10></app-chart10>  
     </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart11></app-chart11>
     </div>
     <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-chart12></app-chart12>  
     </div>
   </div>
</div>