.e-learn{
    background-color: #fef3e4;
    background-image: url(../../../../assets/images/study.png);
    background-position: right center;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    // margin: 0px 0px 0px 12px;
}

.bg-clr {
    background-color: #598b85;
  }
  
  .bg-clr:hover {
    background-color: #324643;
    color: white;
  }
  
  /* Add this to your styles or stylesheet */
  .test-row {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
  }
  
  .test-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    // transition: background-color 0.3s ease, transform 0.2s ease; /* Add transform transition for smooth effect */
  }
  
  .test-container:hover {
    background-color: #324643; /* Change the background color on hover */
    // transform: rotate(5deg); /* Rotate the container on hover */
    color: #fff;
  }
  
  .test-number {
    font-size: 36px;
    font-weight: bold;
  }
  
  .test-name {
    padding: 5px;
    text-align: center;
  }
  
  // .isNotAttempted {
  //   background-color: #1b4c43; /* Blue color for selected option */
  //   color: black; /* White text color for selected option */
  // }
  
  // .isAttempted {
  //   background-color: #f5f5f5 !important; /* Blue color for selected option */
  //   color: white !important;/* White text color for selected option */
  // }
  .font-8 {
    font-size: 8px;
  }
  .font-10 {
    font-size: 10px;
  }
  .font-12 {
    font-size: 12px;
  }
  .font-14 {
    font-size: 14px;
  }
  .font-16 {
    font-size: 16px;
  }
  .font-18 {
    font-size: 18px;
  }
  
  .study-mat-card {
    // max-height: 65vh;
    // overflow: auto;
  }
  
  .floating-btn-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .fullscreen-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Optional: add a semi-transparent overlay */
    z-index: 1050; /* Adjust the z-index as needed */
  }
  
  .fullscreen-modal-content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff; /* Set the background color as needed */
  }
  