<div *ngIf="getSubjectByMaterial?.isPurchased; else purchaseSection">
  <div class="container-fluid list-products">
    <div class="card">
      <div class="card-body pt-3" id="study">
        <div class="row">
          <!-- <div class="col-lg-12 onhover-dropdown text-end pb-2 pe-0">
            <button type="button" class="btn btn-primary-light"
              (click)="openModalToShowDetailsData($event, studyMaterial)">
              <i class="fa fa-arrows-alt" style="font-size: 16px;"></i>
            </button>
          </div> -->
          <div class="col-lg-12 study-mat-card" [innerHTML]="studyMaterial.studyMaterial">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="expandStudyMaterial" class="fullscreen-modal" (click)="closeModal()">
    <div class="fullscreen-modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Question Bank: Class {{myClass}} - 1000 Que </h4>
        <button type="button" class="btn btn-warning pull-right" aria-label="Close" (click)="closeModal()">
          Close
        </button>
      </div>
      <div class="modal-body">
        <div [innerHTML]="selectedDataToView"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #purchaseSection>
  <div class="container-fuild py-2 e-learn rounded-3 mb-4">
    <div class="card-body">
      <div class="row px-3 py-2">
        <h2 class="pb-2 fs-6">
          Pay fees to see
          <b class="fw-bold" style="color: #007cc3">Study Material</b>
        </h2>
        <div class="col-lg-12 d-flex justify-content-start" *ngIf="getSubjectByMaterial">
          <button *ngIf="getSubjectByMaterial?.isPurchased; else purchaseButton" class="btn btn-primary d-flex"
            >
            Go to Study Material
          </button>
          <ng-template #purchaseButton>
            <button class="btn btn-primary d-flex" (click)="proceedPayment()">
              ₹ {{ getSubjectByMaterial?.materialFee }}
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-loader-design></app-loader-design>