<div class="page-main-header">
  <div class="main-header-right row m-0">
    <!-- <div class="container-fuild">
      <div class="row">
        <div class="col-lg-12">
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            Ankit
          </div>
        </div>
      </div>
    </div> -->
    <div class="main-header-left col-auto">
      <div class="logo-wrapper">
        <a href="/">
          <img class="logo-img" width="150px" height="50px"
            src="../../../../assets/images/Learn and achieve Logo (1).png" alt="" /></a>
      </div>
      <div class="dark-logo-wrapper">
        <a href="/">
          <img class="img-fluid" src="assets/images/logo/dark-logo.png" alt="" /></a>
      </div>
      <div class="toggle-sidebar" (click)="sidebarToggle()">
        <!-- <i class="status_toggle middle" data-feather="align-center" id="sidebar-toggle"></i> -->
        <i class="fa fa-bars status_toggle middle fs-5" id="sidebar-toggle"></i>
      </div>
    </div>
    <div class="left-menu-header col">
      <!-- <app-search></app-search> -->
      <!-- <button class="btn btn-success" [disabled]="!isTimerVisible" (click)="buttonClick()">
        Start Exam {{ countdownText }}
      </button> -->
    </div>
    <div class="nav-right col pull-right right-menu p-0">
      <ul class="nav-menus" [class.open]="open">
        <!-- <li class="language-nav" (click)="languageToggle()">
        <app-languages></app-languages>
      </li> -->

        <!-- <li class="onhover-dropdown">
        <app-notification></app-notification>
      </li> -->
        <!-- <li class="onhover-dropdown">
        <app-mode></app-mode>
      </li>  -->
        <!-- <li class="onhover-dropdown">
        <app-chat></app-chat>
      </li> -->
        <li class="onhover-dropdown p-0">
          <button class="btn btn-primary-light" (click)="openModal(template)" type="button">
            Register for Bharat-SAT
          </button>
        </li>
        <li class="onhover-dropdown p-0">
          <button class="btn btn-primary-light" type="button">
            <a [routerLink]="['/b-sat/profile']"><i data-feather="user"></i>Profile
            </a>
          </button>
        </li>
        <li class="onhover-dropdown p-0">
          <button class="btn btn-primary-light" type="button" (click)="logout()">
            <i data-feather="user"></i>Logout
          </button>
        </li>
        <!-- <li >
          <app-maximize role="button"></app-maximize>
        </li> -->
        <!-- <li class="onhover-dropdown p-0">
          <button class="btn btn-primary-light" click="logoutFunc()" type="button"><a [routerLink]="['/auth/login']"><i data-feather="log-out"></i></a></button>
        </li> -->
      </ul>
    </div>
    <div class="d-lg-none mobile-toggle pull-right w-auto" (click)="openMenu()">
      <i data-feather="more-horizontal"></i>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Registration Form</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <form [formGroup]="studentForm">
          <!-- Student Photo Field -->
          <div class="mb-3">
            <label for="studentPhoto" class="form-label">Student Photo</label>
            <input type="file" id="studentPhoto" (change)="createStudentImage($event,'studentPhoto')"
              class="form-control" required />
          </div>

          <!-- Student Signature Photo Field -->
          <div class="mb-3">
            <label for="signaturePhoto" class="form-label">Student Signature Photo</label>
            <input type="file" id="signaturePhoto" (change)="createStudentImage($event,'signaturePhoto')"
              class="form-control" required />
          </div>

          <div class="">
            <a href="" class="ms-1 fw-bold text-underline text-primary" [routerLink]="['/b-sat/privacy-policy']" (click)="modalRef?.hide()">*Privacy Policy</a>
          </div>

          <!-- Submit Button -->
          <div class="text-end">
            <!-- <app-payment-gate></app-payment-gate> -->
            <button type="submit" class="btn btn-success" (click)="proceedPayment()">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>