 
<div class="container-fluid">
   <div class="email-wrap bookmark-wrap">
     <div class="row">
       <div class="col-xl-3 box-col-3 xl-30">
         <app-bookmark-profile></app-bookmark-profile>
       </div>
       <div class="col-xl-9 col-md-12 box-col-9 xl-70">
         <app-create-bookmarks></app-create-bookmarks>
       </div>
     </div>
   </div>
 </div>