<!-- <button class="btn btn-primary" (click)="openNewWindow()">Exam</button>   -->
<div *ngIf="enrollnmentDetails?.isPurchased">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>You have already enrolled for this Exam!
        <p>
            Thank you for your registration. We would like to inform you that you have already enrolled for the upcoming
            exam.
            <br>
            Exam schedules will be communicated to you soon through the designated communication channel.
            <br>
            Stay tuned for further updates.
        </p>
        <hr>
        <p>"Unlock your success with recommended study materials tailored for the Bharat SAT exam – your key to academic excellence!"</p>
        <button class="btn btn-light text-end" (click)="goToStudymaterial()">Go to Study Material</button>
        <br>
        <br>
        <p class="mb-0">If you have any queries, please feel free to contact our support team.</p>
    </div>
</div>

<div *ngIf="!enrollnmentDetails?.isPurchased">
    <!-- <button class="btn btn-primary" (click)="openModal(template)">Pay for exam Rs.{{enrollnmentDetails?.examFee}}</button> -->
    <button class="btn btn-primary-light" (click)="openModal(template)" type="button">
        Register for Bharat-SAT
    </button>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Registration Form</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <form [formGroup]="studentForm">
          <!-- Student Photo Field -->
          <div class="mb-3">
            <label for="studentPhoto" class="form-label">Student Photo</label>
            <input type="file" id="studentPhoto" (change)="createStudentImage($event,'studentPhoto')"
              class="form-control" required />
          </div>

          <!-- Student Signature Photo Field -->
          <div class="mb-3">
            <label for="signaturePhoto" class="form-label">Student Signature Photo</label>
            <input type="file" id="signaturePhoto" (change)="createStudentImage($event,'signaturePhoto')"
              class="form-control" required />
          </div>

          <div class="">
            <a href="" class="ms-1 fw-bold text-underline text-primary" [routerLink]="['/b-sat/privacy-policy']" (click)="modalRef?.hide()">*Privacy Policy</a>
          </div>

          <!-- Submit Button -->
          <div class="text-end">
            <!-- <app-payment-gate></app-payment-gate> -->
            <button type="submit" class="btn btn-success" (click)="proceedPayment()">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
<app-loader-design></app-loader-design>