<div class="card">
  <div class="card-header pb-0">
    <h5>Edges input style</h5>
  </div>
  <form class="form theme-form">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="exampleFormControlInput5">Email address</label>
            <input class="form-control btn-pill" id="exampleFormControlInput5" type="email" placeholder="name@example.com">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="exampleInputPassword6">Password</label>
            <input class="form-control btn-pill" id="exampleInputPassword6" placeholder="Password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="exampleFormControlSelect7">Example select</label>
            <select class="form-select btn-pill digits" id="exampleFormControlSelect7">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="exampleFormControlSelect8">Example multiple select</label>
            <select class="form-select btn-pill p-l-45 digits" id="exampleFormControlSelect8" multiple="">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <label class="form-label" for="exampleFormControlTextarea9">Example textarea</label>
            <textarea class="form-control btn-pill" id="exampleFormControlTextarea9" rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <button class="btn btn-primary" type="submit">Submit</button>
      <input class="btn btn-light ms-2" type="reset" value="Cancel">
    </div>
  </form>
</div>