<div class="card">
    <div class="card-header pb-0">
      <h5>Contextual classes</h5>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-{{list.colorClass}}" *ngFor="let list of lists">{{list.title}}</li>
      </ul>
    </div>
  </div>