<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="login-card">
        <form class="theme-form login-form" [formGroup]="loginForm">
          <h4>Login</h4>
          <h6>Welcome Log in to your account.</h6>
          <div class="form-group">
            <label>User ID</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
              <input class="form-control" type="text" placeholder="Enter your uniq ID" formControlName="userId">
              <div *ngIf="loginForm.controls['userId'].touched && loginForm.controls['userId'].errors?.['required']"
                class="text text-danger mt-1">
                userId is required
              </div>
              <div *ngIf="loginForm.controls['userId'].touched && loginForm.controls['userId'].errors?.['userId']"
                class="text text-danger mt-1">
                Invalid userId
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
              <input class="form-control" [type]="show ? 'text' : 'password'" name="login[password]" required=""
                placeholder="xxxxxxx" formControlName="password">
              <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
              <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
              <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']"
                class="text text-danger mt-1">
                Password is required
              </div>
            </div>
          </div>
          <div class="form-group">
              <div class="checkbox ms-1">
                <!-- <input id="checkbox1" type="checkbox">
                <label for="checkbox1">Remember password</label> -->
                <a class="link" (click)="openModal(template)" role="button">Forgot password?</a>
              </div>  
              <button class="btn btn-primary btn-block" (click)="login()" type="button">Login
              </button>
          </div>
          <div class="form-group">
            <!-- <button class="btn btn-primary btn-block" (click)="login()" type="button">Login
            </button> -->
            <!-- [disabled]="!loginForm.valid" -->
          </div>
        </form>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Forget Form</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <form [formGroup]="forgetForm">
          <div class="mb-3">
            <label for="userId" class="form-label">Mobile Number</label>
            <input type="number" class="form-control" id="mobileNo" formControlName="mobileNo">
          </div>
          <!-- Submit Button -->
          <div class="text-end">
            <button type="submit" class="btn btn-success" (click)="generateOTP()">
              Generate OTP
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>

  <app-loader-design></app-loader-design>