<div class="row">
    <div class="col-sm-6 col-xl-3 col-lg-6" *ngFor="let data of earningData">
        <div class="card o-hidden border-0">
            <div class="{{data.classCompo}} b-r-4 card-body">
                <div class="media static-top-widget">
                    <div class="align-self-center text-center">
                        <app-feather-icons [icon]="data.icon"></app-feather-icons>
                    </div>
                    <div class="media-body"><span class="m-0">{{data.title}}</span>
                        <h4 class="mb-0 counter" [CountTo]=data.count [from]="0" [duration]="2"></h4>
                        <app-feather-icons [icon]="data.icon" class="icon-bg"></app-feather-icons>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>