 
<div class="container-fluid">
   <div class="email-wrap bookmark-wrap">
     <div class="row">
       <div class="col-xl-3 box-col-3 xl-30">
         <app-contacts-filter></app-contacts-filter>
       </div>
       <div class="col-xl-9 col-md-12 box-col-9 xl-70">
         <div class="email-right-aside bookmark-tabcontent contacts-tabs">
           <div class="card email-body radius-left">
             <div class="ps-0">
               <div class="tab-content">
                 <div class="tab-pane fade active show" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
                   <app-personal></app-personal>
                 </div>
                 <div class="fade tab-pane" id="pills-organization" role="tabpanel" aria-labelledby="pills-organization">
                   <app-organization></app-organization>
                 </div>
                 <div id="right-history">
                   <div class="modal-header p-l-20 p-r-20">
                     <h6 class="modal-title w-100">Contact History<span class="pull-right"><a class="closehistory" href="javascript:void(0)"><i class="icofont icofont-close"></i></a></span></h6>
                   </div>
                   <div class="history-details">
                     <div class="text-center"><i class="icofont icofont-ui-string"></i>
                       <p>Contact has not been modified yet.</p>
                     </div>
                     <div class="media"><i class="icofont icofont-star me-3"></i>
                       <div class="media-body mt-0">
                         <h6 class="mt-0">Contact Created</h6>
                         <p class="mb-0">Contact is created via mail</p><span class="f-12">Sep 10, 2023 4:00</span>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="modal fade modal-bookmark" id="printModal" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog modal-dialog-centered" role="document">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title">Print preview</h5>
                         <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body list-persons">
                         <div class="profile-mail pt-0" id="DivIdToPrint">
                           <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle" id="updateimg" src="assets/images/user/2.png" alt="">
                             <div class="media-body mt-0">
                               <h5><span id="printname">Bucky </span><span id="printlast">Barnes</span></h5>
                               <p id="printmail">barnes@gmail.com</p>
                             </div>
                           </div>
                           <div class="email-general">
                             <h6>General</h6>
                             <p>Email Address: <span class="font-primary" id="mailadd">barnes@gmail.com   </span></p>
                           </div>
                         </div>
                         <button class="btn btn-secondary" id="btnPrint" type="button" onclick="printDiv();">Print</button>
                         <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>