<div class="container-fluid">
  <div class="user-profile">
    <div class="row">
      <div class="col-sm-12">
        <app-user-profile></app-user-profile>
      </div>
      <div class="col-xl-3 col-lg-12 col-md-5 xl-35">
        <app-left-content></app-left-content>
      </div>
      <div class="col-xl-9 col-lg-12 col-md-7 xl-65">
        <app-right-content></app-right-content>
      </div>
    </div>
  </div>
</div>
