<div class="faq-title">
   <h6>Selling And Buying</h6>
 </div>
 <div class="card">
   <div class="card-header">
     <h5 class="mb-0">
       <button class="btn btn-link collapsed" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
       aria-controls="collapseExample"><i data-feather="help-circle"></i> WordPress Site Maintenance ?</button>
     </h5>
   </div>
   <div class="collapse"  #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
     <div class="card-body">
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
     </div>
   </div>
 </div>
 <div class="card">
   <div class="card-header">
     <h5 class="mb-0">
       <button class="btn btn-link collapsed" (click)="collapse2.toggle()" [attr.aria-expanded]="!isCollapsed2"
       aria-controls="collapseExample"><i data-feather="help-circle"></i>Meta Tags in WordPress ?</button>
     </h5>
   </div>
   <div class="collapse"  #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
     <div class="card-body">
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
     </div>
   </div>
 </div>
 <div class="card">
   <div class="card-header">
     <h5 class="mb-0">
       <button class="btn btn-link collapsed" (click)="collapse3.toggle()" [attr.aria-expanded]="!isCollapsed3"
       aria-controls="collapseExample"><i data-feather="help-circle"></i>Validating a Website ?</button>
     </h5>
   </div>
   <div class="collapse" #collapse3="ngbCollapse" [(ngbCollapse)]="isCollapsed3">
     <div class="card-body">
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
     </div>
   </div>
 </div>
 <div class="card">
   <div class="card-header">
     <h5 class="mb-0">
       <button class="btn btn-link collapsed" (click)="collapse4.toggle()" [attr.aria-expanded]="!isCollapsed4"
       aria-controls="collapseExample"><i data-feather="help-circle"></i>Know Your Sources ?</button>
     </h5>
   </div>
   <div class="collapse" #collapse4="ngbCollapse" [(ngbCollapse)]="isCollapsed4">
     <div class="card-body">
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
     </div>
   </div>
 </div>