 
<div class="container-fluid">
   <div>
     <div class="row product-page-main p-0">
       <div class="col-xl-5 col-md-6 box-col-6 xl-50">
         <div class="card">
           <div class="card-body">
             <div class="row">
               <ks-carousel [id]="101" [images]="imagesRect">
               </ks-carousel>
            </div>
           </div>
         </div>
       </div>
       <div class="col-xl-5 box-col-12 proorder-xl-3 xl-100">
         <app-details></app-details>
       </div>
       <div class="col-xl-2 col-md-6 box-col-6 xl-50 proorder-lg-1">
        <app-brand></app-brand>
       </div>
     </div>
   </div>
   <div class="card">
     <app-description-tab></app-description-tab>
   </div>
 </div>