<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Print preview</h5>
    <button
      class="btn-close"
      type="button"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body list-persons">
    <div class="profile-mail pt-0" id="DivIdToPrint">
      <div class="media">
        <img
          class="img-100 img-fluid m-r-20 rounded-circle"
          id="updateimg"
          src="assets/images/user/2.png"
          alt=""
        />
        <div class="media-body mt-0">
          <h5>
            <span id="printname">Bucky </span><span id="printlast">Barnes</span>
          </h5>
          <p id="printmail">barnes@gmail.com</p>
        </div>
      </div>
      <div class="email-general">
        <h6>General</h6>
        <p>
          Email Address:
          <span class="font-primary" id="mailadd">barnes@gmail.com </span>
        </p>
      </div>
    </div>
    <button class="btn btn-secondary" id="btnPrint" type="button">Print</button>
    <button
      class="btn btn-primary ms-2"
      type="button"
      (click)="activeModal.dismiss('Cross click')"
    >
      Cancel
    </button>
  </div>
</div>
