<div class="container-fuild py-2 e-learn rounded-3 mb-4">
  <div class="card-body">
    <div class="row px-3 py-2">
      <h2 class="pb-2 fs-6">
        Find your class
        <b class="fw-bold" style="color: #007cc3">Video</b>
      </h2>
    </div>
  </div>
</div>

<div class="container-fuild p-3">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-12 pb-2" *ngFor="let youtubeLink of getYoutubeLinks">
      <div class="card-image w-100 mb-3">
        <iframe class="video-style" [src]="youtubeLink.videoLink | safe" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="card-body pt-0">
        <h6 class="mt-2 mt-0">Name: {{ youtubeLink?.videoName }}</h6>
      </div>
    </div>
  </div>
</div>

<app-loader-design></app-loader-design>