.e-learn {
  background-color: #e4f7fe;
  background-image: url(../../../../assets/images/e-learn1.png);
  background-position: right center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  // margin: 0px 0px 0px 12px;
}

.video-style {
  width: 100%;
  height: 38vh;
}
