<div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center pb-0">
              <img class="profile_img" src="../../../assets/images/user-profile.png" alt="">
              <h3 class="text-capitalize pb-2">{{studentDetails.firstName}} {{studentDetails.middleName}} {{studentDetails.lastname}}</h3>
            </div>
            <div class="card-body text-center pt-0">
              <p class="mb-0"><strong class="pr-1">User ID:</strong>&nbsp;{{studentDetails.userId}}</p>
              <p class="mb-0"><strong class="pr-1">Class:</strong>&nbsp;{{studentDetails.class}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm ">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class='bx bx-clipboard me-2'></i>General Information</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="30%">Email</th>
                  <td width="2%">:</td>
                  <td>
                    <ng-container *ngIf="!isEditMode; else editMode">
                      {{ studentDetails.email }}
                      <i class="fa fa-pencil" (click)="enableEditMode()" role="button"></i>
                      <!-- <button class="btn btn-link" (click)="enableEditMode()">Edit</button> -->
                    </ng-container>
                    <ng-template #editMode>
                      <input type="text" [(ngModel)]="studentDetails.email" class="form-control d-inline-block" placeholder="Enter Email">

                      <!-- <button class="btn btn-primary" (click)="updateEmail()">Submit</button> -->
                      <i class="fa fa-check" (click)="updateEmail()" role="button"></i>
                      <!-- <button class="btn btn-link" (click)="disableEditMode()">Cancel</button> -->
                      <i class="fa fa-times" (click)="disableEditMode()" role="button"></i>
                    </ng-template>
                    <!-- <input type="text" [(ngModel)]="studentDetails.email" class="form-control" placeholder="Enter Email"> -->
                  </td>
                </tr>
                <tr>
                  <th width="30%">Gender</th>
                  <td width="2%">:</td>
                  <td>&nbsp;{{studentDetails.gender}}</td>
                </tr>
                <tr>
                  <th width="30%">Mobile number</th>
                  <td width="2%">:</td>
                  <td>&nbsp;{{studentDetails.mobileNo}}</td>
                </tr>
                <tr>
                  <th width="30%">School Name</th>
                  <td width="2%">:</td>
                  <td>&nbsp;{{studentDetails.schoolName}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>