<div class="card height-equal">
   <div class="card-header pb-0">
     <h5>Pill Dark color</h5><span>Add <code>.nav-*</code> class with nav class</span><span>remove  <code>nav-pill</code> class from pill style Tab</span>
   </div>
   <div class="card-body">
     <ul ngbNav #nav8="ngbNav" [(activeId)]="HomeActive8" class="nav nav-pills nav-dark" orientation="horizontal">
      <li ngbNavItem="home">
        <a ngbNavLink><i class="icofont icofont-ui-home"></i>Home</a>
        <ng-template ngbNavContent>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,It has survived not only five
         </p>
        </ng-template>
      </li>
      <li ngbNavItem="profile">
        <a ngbNavLink><i class="icofont icofont-man-in-glasses"></i>Profile</a>
        <ng-template ngbNavContent>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
         </p>
        </ng-template>
      </li>
      <li ngbNavItem="contact">
        <a ngbNavLink><i class="icofont icofont-contacts"></i>Contact</a>
        <ng-template ngbNavContent>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
         </p>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav8" class="mt-4"></div>
   </div>
 </div>