<div class="container-fluid">
   <div class="row">
     <div class="col-md-6">
       <div class="card">
        <app-basic-input-groups2></app-basic-input-groups2>
       </div>
      </div>
      <div class="col-md-6">
       <div class="card">
         <app-basic-input-groups></app-basic-input-groups>
       </div>
     </div>
   </div>
 </div>