/* test.component.css */

.test-container {
  background-color: #f8f9fa; /* Light gray background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.question-number {
  font-size: 18px;
  font-weight: bold;
  color: #007bff; /* Blue color for question number */
}

.question-text {
  font-size: 24px;
  margin-bottom: 15px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.index {
  margin-right: 5px; /* Adjust the spacing between index and option */
}

.option {
  background-color: #ffffff; /* White background for options */
  padding: 10px;
  border: 1px solid #ced4da; /* Light gray border */
  border-radius: 5px;
  cursor: pointer;
  // transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.option:hover {
  background-color: #e9ecef; /* Light gray background on hover */
}

.selected-option {
  background-color: #1b4c43 !important; /* Blue color for selected option */
  color: white; /* White text color for selected option */
}

.hover-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #d8ffec58;
}

.option-row {
  height: 55px;
  width: 70%;
}

.card .card-body {
  padding: 24px;
}

.padding-cust-num-btn {
  padding: 10px 18px !important;
}

.col-my {
}

.timer {
  top: -3rem;
  position: absolute;
}

// .prev-next-btn {
//   display: flex;
//   justify-content: end;
// }

.que-no-card-body {
  padding: 0 1rem 0 1rem;
}

.text-name {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0 5px 0;
}

.result-table > tbody > tr > td {
  padding: 5px;
}

.result-table > tbody > tr > td:first-child {
  text-align: left;
}

.result-table > tbody > tr > td:last-child {
  text-align: center;
}
