<div class="row">
  <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
    <div class="card w-100 bg-light text-dark mb-0">
      <div class="text-name">
        {{ mockTestDetails?.testName }} - Class {{ mockTestDetails?.classId }}
      </div>
      <div class="que-no-card-body pb-0">
        <div class="row pb-3 pt-3 flex-nowrap overflow-auto" #buttonContainer>
          <div
            class="col-auto pb-2"
            *ngFor="let question of questionListByTest; let i = index"
          >
            <button
              class="btn btn-outline-success padding-cust-num-btn"
              [class.active]="
                selectedQuestion._id === question._id || question.answerId
              "
              (click)="onSelectQuestion(question, i)"
            >
              {{ i + 1 }}
            </button>
          </div>
        </div>
      </div>

      <div class="card-body pb-0">
        <div class="row align-item-center">
          <div class="col-lg-12">
            <p class="fw-semibold">
              Question {{ selectedQuestionIndex + 1 }} of
              {{ questionListByTest?.length }}
            </p>
            <!-- <h4 class="fw-bold fs-6">{{ selectedQuestion?.question }}</h4> -->
            <div
              class="fw-bold fs-6"
              [innerHTML]="selectedQuestion?.question"
            ></div>
            <div class="py-3" *ngIf="selectedQuestion?.questionImg">
              <img [src]="selectedQuestion?.questionImg" width="300" height="100" alt="" style="object-fit: cover;">
            </div>
          </div>
          <div class="timer text-end">
            <span class="pe-3">
              <button type="button" class="btn btn-light text-dark" style="pointer-events: none;">
                <i class="icofont icofont-ui-clock fs-6 me-1"></i
                ><span class="fw-semibold">{{ formattedRemainingTime }}</span>
              </button>
            </span>
            <span>
              <button
                class="btn btn-success"
                (click)="openModal(submitTemplate)"
              >
                Submit
              </button>
            </span>
          </div>
        </div>

        <div class="row align-item-center pb-5">
          <div class="col-lg-8 col-sm-12 mt-3">
            <div class="row">
              <div
                class="col-lg-6"
                *ngFor="
                  let option of this.questionListByTest[
                    this.selectedQuestionIndex
                  ]?.optionList;
                  let i = index
                "
                (click)="onSelectAnswer(option.optionId)"
              >
                <div
                  class="card p-2 rounded-3 border-0 shadow hover-card d-flex"
                  [class.selected-option]="option.isSelected"
                >
                  <div class="row">
                    <div class="col-lg-12">
                      <span>
                        {{ optionLetters[i] }}. {{ option.optionValue }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="fixed-bottom">
          <div class="row pb-3 pt-3">
            <div class="col-lg-12 text-end">
              <button
                class="btn btn-outline-success me-3"
                (click)="onClickPrev()"
                *ngIf="selectedQuestionIndex != 0"
              >
                Prev
              </button>
              <button
                class="btn btn-outline-success me-4"
                (click)="onClickNext()"
                *ngIf="selectedQuestionIndex != questionListByTest.length - 1"
              >
                Next
              </button>
              <!-- <button
                class="btn btn-success me-4"
                (click)="openModal(submitTemplate)"
              >
                Submit
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #submitTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-start">
      <h3 class="fw-semibold">Are you sure you want to submit?</h3>
    </div>
    <div class="mt-3">
      <table class="table table-bordered">
        <thead class="border table-light">
          <tr>
            <th>Total Questions</th>
            <th>Attempt Questions</th>
            <th>Unattempt Questions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ this.questionListByTest?.length }}</td>
            <td>{{ this.getFormatedAnswer()?.length }}</td>
            <td>
              {{
                (this.questionListByTest?.length || 0) -
                  (this.getFormatedAnswer()?.length || 0)
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-danger mx-2" (click)="decline()">
      No
    </button>
    <button
      type="button"
      class="btn btn-success mx-2"
      (click)="onSubmitTest(resulttemplate); modalRef?.hide()"
    >
      Yes
    </button>
  </div>
</ng-template>

<ng-template #resulttemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Result</h4>
  </div>
  <div class="modal-body pt-0">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center py-3">
          <img
            src="../../../../assets//images/check.jpeg"
            alt=""
            height="70px"
            width="70px"
          />
        </div>
        <div class="col-lg-12 py-3 text-center">
          <h5 class="fw-semibold">Exam Submitted Successfully</h5>
          <h6>Thank you For Appearing in Exam</h6>
        </div>
        <div class="col-lg-12 d-flex justify-content-center">
          <table class="table table-bordered text-center result-table">
            <tbody>
              <tr>
                <td>Total Questions:</td>
                <td>
                  <span class="test-time fw-semibold font-14">{{
                    receivedData?.totalQuestion
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Attempted Questions:</td>
                <td>
                  <span class="test-time fw-semibold font-14">{{
                    receivedData?.attemptedQuestion
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Unattempted Questions:</td>
                <td>
                  <span class="test-time fw-semibold font-14">{{
                    receivedData?.unAttemptedQuestion
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Right Answered:</td>
                <td>
                  <span class="test-time fw-semibold font-14">{{
                    receivedData?.correctQuestionNumbers?.join(", ")
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Wrong Answered:</td>
                <td>
                  <span class="test-time fw-semibold font-14">{{
                    receivedData?.wrongQuestionNumbers?.join(", ")
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Nagivate Marks Deducted:</td>
                <td>
                  <span class="test-time fw-semibold font-14"
                    >-{{ receivedData?.negativeMarks }}</span
                  >
                </td>
              </tr>
              <tr>
                <td>Obtain Marks:</td>
                <td>
                  <span class="fw-semibold font-14">{{
                    receivedData.obtainedMarks
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Test Result:</td>
                <td>
                  <span
                    [ngClass]="
                      receivedData?.testResult == 'Pass'
                        ? 'text-success'
                        : 'text-danger'
                    "
                    class="fw-semibold font-12"
                    >{{
                      receivedData?.testResult
                        ? receivedData?.testResult
                        : "Not Attempted"
                    }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="okClick()">
      OK
    </button>
  </div>
</ng-template>
<app-loader-design></app-loader-design>
