<div class="small-chart-widget chart-widgets-small">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Uses</h5>
    </div>
    <div class="card-body">
      <div class="chart-container">
        <div class="row">
          <div class="col-12">
            <div id="chart-widget9">
              <apx-chart [series]="uses.series" [chart]="uses.chart" [dataLabels]="uses.dataLabels" [xaxis]="uses.xaxis" [yaxis]="uses.yaxis" [fill]="uses.fill" [title]="uses.title" [colors]="uses.colors">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
