<div class="row">
    <div class="col-xl-12 col-md-6 box-col-6 des-xl-50">
      <div class="card profile-greeting">
        <div class="card-header">
          <div class="header-top">
            <div class="setting-list bg-primary position-unset">
              <ul class="list-unstyled setting-option">
                <li>
                  <div class="setting-white">
                    <i class="icon-settings"></i>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-t-0">
          <h3 class="font-light">Welcome Back, John!!</h3>
          <p>Welcome to the viho Family! we are glad that you are visit this dashboard. we will be happy to help you grow your business.</p>
          <button class="btn btn-light">Update</button>
        </div>
        <div class="confetti">
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec">
      <div class="card income-card card-primary">                                 
        <div class="card-body text-center">                                  
          <div class="round-box">
            <svg-icon src="assets/images/svg/dashboard/dashboard.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
          </div>
          <h5>8,50,49</h5>
          <p>Our Annual Income</p><a class="btn-arrow arrow-primary" href="javascript:void(0)"><i class="toprightarrow-primary fa fa-arrow-up me-2"></i>95.54% </a>
          <div class="parrten">
            <svg-icon src="assets/images/svg/dashboard/boll.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec">
      <div class="card income-card card-secondary">                                    
        <div class="card-body text-center">
          <div class="round-box">
            <svg-icon src="assets/images/svg/dashboard/round-box.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
          </div>
          <h5>2,03,59</h5>
          <p>our Annual losses</p><a class="btn-arrow arrow-secondary" href="javascript:void(0)"><i class="toprightarrow-secondary fa fa-arrow-up me-2"></i>90.54% </a>
          <div class="parrten">
            <svg-icon src="assets/images/svg/dashboard/parrten.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
          </div>
        </div>
      </div>
    </div>
  </div>