<div class="row">
    <div class="col-sm-12 col-lg-6 col-xl-4 xl-50 col-md-12 box-col-6">
        <div class="card height-equal">
            <div class="calender-widget">
                <div class="cal-img"></div>
                <div class="cal-date">
                    <h5>25<br>Apr</h5>
                </div>
                <div class="cal-desc text-center card-body">
                    <h6 class="f-w-600">I must explain to you how? </h6>
                    <p>We are excited about continuing to build a complete ecosystem around value commerce, where we can serve Bharat consumers their shopping journey. 
                        Our mission is to become India’s value lifestyle leader.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-8 xl-50 col-md-12 box-col-6">
        <div class="card height-equal">
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                <h5>Contact Us</h5>
            </div>
            <div class="contact-form card-body">
                <form class="theme-form">
                    <div class="form-icon"><i class="icofont icofont-envelope-open"></i></div>
                    <div class="mb-3">
                        <label class="col-form-label" for="exampleInputName">Your Name</label>
                        <input class="form-control" id="exampleInputName" type="text" placeholder="John Dio">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="exampleInputEmail1">Email</label>
                        <input class="form-control" id="exampleInputEmail1" type="email"
                            placeholder="Demo@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="exampleInputEmail1">Message</label>
                        <textarea class="form-control textarea" rows="3" cols="50"
                            placeholder="Your Message"></textarea>
                    </div>
                    <div class="text-sm-end">
                        <button class="btn btn-primary">SEND IT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>