<div class="card">
   <div class="card-header pb-0">
     <h5>Radial Bar Chart</h5>
   </div>
   <div class="card-body">
     <div id="circlechart">
      <apx-chart 
      [chart]="radialBarChart.chart"
      [plotOptions]="radialBarChart.plotOptions"
      [series]="radialBarChart.series"
      [labels]="radialBarChart.labels"
      [colors]="radialBarChart.colors">
      </apx-chart>
     </div>
   </div>
</div>