<div class="row">
  <div class="col-xl-4">
    <app-common-chart [data]="sale"></app-common-chart>
  </div>
  <div class="col-xl-4">
    <app-common-chart [data]="sale1"></app-common-chart>
  </div>
  <div class="col-xl-4">
    <app-common-chart [data]="sale2"></app-common-chart>
  </div>
</div>
