<div
  class="container-fluid list-products"
  *ngIf="getSubjectByMaterial?.isPurchased; else purchaseSection"
>
  <div class="card pb-3" id="mock">
    <div class="card-header pb-0">
      <h5 class="">Mock Tests</h5>
    </div>
    <div class="card-body">
      <div class="row flex-nowrap overflow-auto">
        <div
          *ngFor="let test of mockTest"
          class="col-3 shadow-sm border p-2 rounded-2 m-2"
        >
          <div>
            <div class="d-flex">
              <div>
                <i class="icofont icofont-ui-clock font-14 me-1 fw-light"></i>
                <span class="test-time">{{ test.testTimeDuration }} min</span>
              </div>
            </div>
            <p class="mb-0 font-10">
              {{ test.resultDetails.obtainedPercentage }}% Obtained
            </p>
            <div>
              <div class="progress" style="height: 8px">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [style.width.%]="test.resultDetails.obtainedPercentage"
                ></div>
              </div>
            </div>
          </div>
          <div class="text-center py-3 mt-3">
            <i class="icofont icofont-paper fs-3"></i>
            <h6 class="mt-2 font-16">
              {{ test?.testName }}
            </h6>
            <div>
              <div class="font-12">
                Total Questions:
                <span class="test-time fw-semibold font-14">{{
                  test?.resultDetails?.totalQuestion
                }}</span>
              </div>
              <div class="font-12">
                Obtain Marks:
                <span class="fw-semibold font-14"
                  >{{
                    test?.resultDetails?.obtainedMarks
                      ? test?.resultDetails?.obtainedMarks
                      : 0
                  }}
                  out of {{ test?.resultDetails?.totalQuestion * 2 }}</span
                >
              </div>
              <div class="font-12">
                Test Result:
                <span
                  [ngClass]="
                    test.resultDetails?.testResult == 'Pass'
                      ? 'text-success'
                      : 'text-danger'
                  "
                  class="fw-semibold font-12"
                  >{{
                    test?.resultDetails?.testResult
                      ? test?.resultDetails?.testResult
                      : "Not Attempted"
                  }}</span
                >
              </div>
              <div class="font-12">
                <button type="button" class="btn btn-link"  (click)="seeResultDetails(resulttemplate, test?.resultDetails)" [disabled]="!test?.resultDetails?.testResult">
                  <u>See Result Details</u>
                </button>
              </div>
            </div>
            <button
              type="button"
              class="btn rounded-pill font-10 mt-3"
              (click)="navigateToMock(test)"
              [disabled]="test.resultDetails.totalQuestion == 0"
              [ngClass]="test.isAttempted ? 'btn-light' : 'btn-success'"
            >
              Take Test
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #purchaseSection>
  <div class="container-fuild py-2 e-learn rounded-3 mb-4">
    <div class="card-body">
      <div class="row px-3 py-2">
        <h2 class="pb-2 fs-6">
          Pay fees to see
          <b class="fw-bold" style="color: #007cc3">Mock Test</b>
        </h2>
        <div
          class="col-lg-12 d-flex justify-content-start"
          *ngIf="getSubjectByMaterial"
        >
          <button
            *ngIf="getSubjectByMaterial?.isPurchased; else purchaseButton"
            class="btn btn-primary d-flex"
          >
            Go to Study Material
          </button>
          <ng-template #purchaseButton>
            <button class="btn btn-primary d-flex" (click)="proceedPayment()">
              ₹ {{ getSubjectByMaterial?.materialFee }}
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #resulttemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Result</h4>
  </div>
  <div class="modal-body pt-0">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center py-3">
          <img
            src="../../../../assets//images/check.jpeg"
            alt=""
            height="70px"
            width="70px"
          />
        </div>
        <div class="col-lg-12 py-3 text-center">
          <h5 class="fw-semibold">See Result Below</h5>
        </div>
        <div class="col-lg-12 d-flex justify-content-center">
          <table class="table table-bordered text-center result-table">
            <tbody>
              <tr>
                <td>Total Questions:</td>
                <td>
                  <span class="test-time fw-semibold font-14">{{
                    selectedMockTestResultData?.totalQuestion
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Marks Per Question:</td>
                <td>
                  <span class="test-time fw-semibold font-14">2</span>
                </td>
              </tr>
              <tr>
                <td>Attempted Questions:</td>
                <td>
                  <span class="test-time fw-semibold font-14">{{
                    selectedMockTestResultData?.attemptedQuestion
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Unattempted Questions:</td>
                <td>
                  <span class="test-time fw-semibold font-14">{{
                    selectedMockTestResultData?.unAttemptedQuestion
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Right Answered:</td>
                <td>
                  <span class="test-time fw-semibold font-14">{{
                    selectedMockTestResultData?.correctQuestionNumbers?.join(
                      ", "
                    )
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Wrong Answered:</td>
                <td>
                  <span class="test-time fw-semibold font-14">{{
                    selectedMockTestResultData?.wrongQuestionNumbers?.join(", ")
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Nagivate Marks Deducted:</td>
                <td>
                  <span class="test-time fw-semibold font-14"
                    >-{{ selectedMockTestResultData?.negativeMarks }}</span
                  >
                </td>
              </tr>
              <tr>
                <td>Obtain Marks:</td>
                <td>
                  <span class="fw-semibold font-14">{{
                    selectedMockTestResultData.obtainedMarks
                  }}</span>
                </td>
              </tr>
              <tr>
                <td>Test Result:</td>
                <td>
                  <span
                    [ngClass]="
                      selectedMockTestResultData?.testResult == 'Pass'
                        ? 'text-success'
                        : 'text-danger'
                    "
                    class="fw-semibold font-12"
                    >{{
                      selectedMockTestResultData?.testResult
                        ? selectedMockTestResultData?.testResult
                        : "Not Attempted"
                    }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="okClick()">
      OK
    </button>
  </div>
</ng-template>

<app-loader-design></app-loader-design>
