<!-- <div class="row align-item-center">
    <div class="col-lg-12 d-flex justify-content-center h-100">
        <div class="card rounded-1 shadow animate__animated animate__fadeInUp">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center py-3">
                        <img src="../../../../assets/check.png" alt="" height="170px" width="170px">
                    </div>
                    <div class="col-lg-12 py-3 text-center">
                        <h3 class="fw-semibold">Exam Submitted Successfully</h3>
                        <h5>Thank you For Appearing in Exam</h5>
                    </div>
                    <div class="col-lg-12 d-flex justify-content-center">
                        <table class="table table-bordered text-center">
                            <thead class="border table-light">
                                <tr>
                                    <th>Total Question</th>
                                    <th>Attempt Question</th>
                                    <th>Obtained Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>30</td>
                                    <td>25</td>
                                    <td>25</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">Result:</td>
                                    <td class="text-success">Pass</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12  col-sm-12 d-flex justify-content-center">
                <div class="card w-100 bg-light text-dark">
                    <div class="card-body">
                        <div class="row align-item-center">
                            <div class="col-lg-10 col-sm-12  d-flex">
                                <div class="pt-2 px-2"> <i class="icofont icofont-ui-clock fs-2"></i></div>
                                <div>
                                    <span>time remaining</span>
                                    <p class="fw-semibold">12 : 60 : 60</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12 text-center">
                                <button class="btn btn-success btn-sm">Submit</button>
                            </div>
                        </div>
                        <div class="row align-item-center mt-5">
                            <div class="col-lg-12 col-sm-12">
                                <p class="fw-semibold pb-2">Question 1 of 10</p>
                                <p class="fw-bold fs-6">Which planet is known as the "Red Planet"?</p>
                            </div>  
                            <div class="col-lg-8 col-sm-12 mt-3">
                                <div class="row option-row">
                                    <div class="col-lg-6">
                                        <div class="card p-2 rounded-3 border-0 shadow hover-card d-flex">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <span>Mars</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card p-2 rounded-3 border-0 shadow hover-card">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <span>Mars</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row option-row">
                                    <div class="col-lg-6">
                                        <div class="card p-2 rounded-3 border-0 shadow hover-card">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <span>Mars</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card p-2 rounded-3 border-0 shadow hover-card">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <span>Mars</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="row pb-3">
                            <div class="col">
                                <button class="btn btn-outline-success px-4">Prev</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">1</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">2</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">3</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">4</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">5</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">6</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">7</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">8</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">9</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">10</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success px-4">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>