<div class="card">
   <div class="card-header pb-0">
     <h5>Inline Nav</h5>
   </div>
   <div class="card-body">
     <ul class="icon-lists border navs-icon inline-nav">
       <li><a href="javascript:void(0)"><i data-feather="box"></i><span> Base</span></a></li>
       <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> State Color</span></a></li>
       <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Typography</span></a></li>
       <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Grid</span></a></li>
       <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Tags & Pills</span></a></li>
       <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Progress</span></a></li>
       <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Modal</span></a></li>
       <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Alert</span></a></li>
     </ul>
   </div>
 </div>