<div class="small-chart-widget chart-widgets-small">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Live Products</h5>
    </div>
    <div class="card-body">
      <div class="chart-container">
        <div class="row">
          <div class="col-12">
            <div id="chart-widget6">
              <apx-chart [series]="liveChart.series" [chart]="liveChart.chart" [dataLabels]="liveChart.dataLabels" 
                [stroke]="liveChart.stroke" [fill]="liveChart.fill" [colors]="liveChart.colors" [labels]="liveChart.labels"
                [markers]="liveChart.markers" [yaxis]="liveChart.yaxis">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>