<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-original-title="test" data-bs-target="#exampleModal" (click)="simpleModal(simpleContent)">Simple</button>
<ng-template #simpleContent let-modal>
   <div class="modal-header">
     <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
       <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">...</div>
   <div class="modal-footer">
     <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
     <button class="btn btn-secondary" type="button">Save changes</button>
   </div>
</ng-template>