<div class="faq-title">
  <h6>Intellectual Property</h6>
</div>  
<div class="card">
   <div class="card-header">
     <h5 class="mb-0">
       <button class="btn btn-link collapsed" (click)="collapse2.toggle()" [attr.aria-expanded]="!isCollapsed2"
       aria-controls="collapseExample"><i data-feather="help-circle"></i>WordPress Site Maintenance ?</button>
     </h5>
   </div>
   <div class="collapse" #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
     <div class="card-body">
       <p>We’ve just published a detailed on how to backup your WordPress website, however, if you’re in a hurry, here’s a quick solution.</p>
     </div>
   </div>
 </div>
 <div class="card">
   <div class="card-header">
     <h5 class="mb-0">
       <button class="btn btn-link collapsed" (click)="collapse3.toggle()" [attr.aria-expanded]="!isCollapsed3"
       aria-controls="collapseExample"><i data-feather="help-circle"></i>WordPress in Your Language ?</button>
     </h5>
   </div>
   <div class="collapse"  #collapse3="ngbCollapse" [(ngbCollapse)]="isCollapsed3">
     <div class="card-body">
       <p>As of version 4.0, you can have WordPress automatically install the language of your choice during the installation process.</p>
     </div>
   </div>
 </div>
 <div class="card">
   <div class="card-header">
     <h5 class="mb-0">
      
       <button class="btn btn-link collapsed" (click)="collapse4.toggle()" [attr.aria-expanded]="!isCollapsed4"
       aria-controls="collapseExample"><i data-feather="help-circle"></i>Integrating WordPress with Your Website ?</button>
     </h5>
   </div>
   <div class="collapse"  #collapse4="ngbCollapse" [(ngbCollapse)]="isCollapsed4">
     <div class="card-body">
       <p>How you approach this process will depend on which web host you use. For example, a lot of hosting providers use cPanel, which includes an option to set up subdomains with just a few clicks.</p>
     </div>
   </div>
 </div>