<div class="card">
  <div class="profile-post">
    <div class="post-header">
      <div class="media">
        <img
          class="img-thumbnail rounded-circle me-3"
          src="assets/images/user/7.jpg"
          alt="Generic placeholder image"
        />
        <div class="media-body align-self-center">
          <a href="social-app"> <h5 class="user-name">Emay Walter</h5></a>
          <h6>5 Hours ago</h6>
        </div>
      </div>
      <div class="post-setting"><i class="fa fa-ellipsis-h"></i></div>
    </div>
    <div class="post-body">
      <div class="img-container">
        <div
          class="row mt-4 pictures my-gallery"
          id="aniimated-thumbnials-2"
          itemscope=""
        >
          <figure class="col-sm-6" itemprop="associatedMedia" itemscope="">
            <a
              href="assets/images/user-profile/post2.jpg"
              itemprop="contentUrl"
              data-size="1600x950"
              ><img
                class="img-fluid rounded"
                src="assets/images/user-profile/post2.jpg"
                itemprop="thumbnail"
                alt="gallery"
            /></a>
            <figcaption itemprop="caption description">
              Image caption 1
            </figcaption>
          </figure>
          <figure class="col-sm-6" itemprop="associatedMedia" itemscope="">
            <a
              href="assets/images/user-profile/post3.jpg"
              itemprop="contentUrl"
              data-size="1600x950"
              ><img
                class="img-fluid rounded"
                src="assets/images/user-profile/post3.jpg"
                itemprop="thumbnail"
                alt="gallery"
            /></a>
            <figcaption itemprop="caption description">
              Image caption 2
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="post-react">
        <ul>
          <li>
            <img class="rounded-circle" src="assets/images/user/3.jpg" alt="" />
          </li>
          <li>
            <img class="rounded-circle" src="assets/images/user/5.jpg" alt="" />
          </li>
          <li>
            <img class="rounded-circle" src="assets/images/user/1.jpg" alt="" />
          </li>
        </ul>
        <h6>+25 people react this post</h6>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <ul class="post-comment">
        <li>
          <label
            ><a href="#"
              ><i data-feather="heart"></i>&nbsp;&nbsp;Like<span class="counter"
                >520</span
              ></a
            ></label
          >
        </li>
        <li>
          <label
            ><a href="#"
              ><i data-feather="message-square"></i>&nbsp;&nbsp;Comment<span
                class="counter"
                >85</span
              ></a
            ></label
          >
        </li>
        <li>
          <label
            ><a href="#"
              ><i data-feather="share"></i>&nbsp;&nbsp;share<span
                class="counter"
                >30</span
              ></a
            ></label
          >
        </li>
      </ul>
    </div>
  </div>
</div>
