<!-- <div class="container test-container col-lg-8">
  <ul class="nav nav-tabs">
    <li
      *ngFor="let question of questionListByTest; let i = index"
      class="nav-item"
    >
      <a
        class="nav-link"
        [class.active]="selectedQuestion._id === question._id"
        (click)="onSelectQuestion(question, i)"
      >
        {{ i + 1 }}
      </a>
    </li>
  </ul>

  <div class="question-container">
    <h3 class="question-number">
      Question {{ currentQuestionIndex + 1 }} of {{ questionListByTest.length }}
    </h3>
    <p class="question-text">{{ selectedQuestion?.question }}</p>

    <div class="options-container">
      <div
        *ngFor="
          let option of this.questionListByTest[this.selectedQuestionIndex]
            ?.optionList;
          let i = index
        "
        class="form-check option"
        [class.selected-option]="option.isSelected"
        (click)="onSelectAnswer(option.optionId)"
      >
        {{ optionLetters[i] }}. {{ option.optionValue }}
      </div>
    </div>

    <div class="text-end mt-3">
      <button
        class="btn btn-primary"
        (click)="onClickNext()"
        *ngIf="selectedQuestionIndex != questionListByTest.length - 1"
      >
        Next
      </button>
      <button
        class="btn btn-success"
        (click)="onSubmitTest(resulttemplate)"
        *ngIf="selectedQuestionIndex == questionListByTest.length - 1"
      >
        Submit
      </button>
    </div>
  </div>
</div>

 -->

 <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
          <div class="card w-100 bg-light text-dark mb-0">
            <div class="card-body pb-0">
              <div class="row align-item-center">
                <div class="col-lg-10">
                  <p class="fw-semibold">
                    Question {{ currentQuestionIndex + 1 }} of
                    {{ questionListByTest.length }}
                  </p>
                  <h4 class="fw-bold fs-6">
                    Que. {{ selectedQuestion?.question }}
                  </h4>
                </div>
                <div class="col-lg-2">
                  <div class="text-end">
                    <i class="icofont icofont-ui-clock fs-6 me-1"></i><span class="fw-semibold">{{ formattedRemainingTime }}</span>
                  </div>
                </div>
              </div>
  
              <div class="row align-item-center">
                <div class="col-lg-8 col-sm-12 mt-3">
                  <div class="row">
                    <div class="col-lg-6" *ngFor="
                        let option of this.questionListByTest[
                          this.selectedQuestionIndex
                        ]?.optionList;
                        let i = index
                      " (click)="onSelectAnswer(option.optionId)">
                      <div class="card p-2 rounded-3 border-0 shadow hover-card d-flex"
                        [class.selected-option]="option.isSelected">
                        <div class="row">
                          <div class="col-lg-12">
                            <span>
                              {{ optionLetters[i] }}.
                              {{ option.optionValue }}</span>
                          </div>
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row pb-3 pt-3 flex-nowrap overflow-auto">
                <div class="col-auto pb-2" *ngFor="let question of questionListByTest; let i = index">
                  <button class="btn btn-outline-success padding-cust-num-btn"
                    [class.active]="selectedQuestion._id === question._id" (click)="onSelectQuestion(question, i)">
                    {{ i + 1 }}
                  </button>
                </div>
              </div>
  
              <div class="row pb-3 pt-3">
                <div class="col-lg-6 text-start">
                  <button class="btn btn-outline-success" (click)="onClickPrev()"
                    *ngIf="selectedQuestionIndex != 0">Prev</button>
                </div>
                <div class="col-lg-6 text-end">
                  <button class="btn btn-outline-success" (click)="onClickNext()"
                    *ngIf="selectedQuestionIndex != questionListByTest.length - 1">Next</button>
                  <button class="btn btn-success btn-sm" (click)="onSubmitTest(resulttemplate)"
                    *ngIf="selectedQuestionIndex == questionListByTest.length - 1">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <ng-template #resulttemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Result</h4>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center py-3">
            <img src="../../../../assets//images/check.jpeg" alt="" height="170px" width="170px" />
          </div>
          <div class="col-lg-12 py-3 text-center">
            <h3 class="fw-semibold">Exam Submitted Successfully</h3>
            <h5>Thank you For Appearing in Exam</h5>
          </div>
          <div class="col-lg-12 d-flex justify-content-center">
            <table class="table table-bordered text-center">
              <thead class="border table-light">
                <tr>
                  <th>Total Question</th>
                  <th>Attempt Question</th>
                  <th>Obtained Marks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{receivedData?.totalQuestion}}</td>
                  <td>{{receivedData?.attemptedQuestion}}</td>
                  <td>{{receivedData?.obtainedMarks}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">Result:</td>
                  <td class="text-danger" *ngIf="receivedData?.testResult == 'Fail'">{{receivedData?.testResult}}</td>
                  <td class="text-success" *ngIf="receivedData?.testResult == 'Pass'">{{receivedData?.testResult}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="okClick()">OK</button>
    </div>
  </ng-template>