<div class="card">
   <div class="card-header pb-0">
     <h5>Column Chart</h5>
   </div>
   <div class="card-body">
     <div id="annotationchart">
      <apx-chart 
      [series]="columnChart2.series"
      [colors]="columnChart2.colors"
      [chart]="columnChart2.chart"
      [annotations]="columnChart2.annotations"
      [dataLabels]="columnChart2.dataLabels"
      [stroke]="columnChart2.stroke"
      [grid]="columnChart2.grid"
      [title]="columnChart2.title"
      [labels]="columnChart2.labels"
      [xaxis]="columnChart2.xaxis">
      </apx-chart>
     </div>
   </div>
 </div>