<div class="info-block m-t-30">
  <p class="pb-4 col-sm-12 digits">About 12,120 results (0.50 seconds)</p>
  <div class="my-gallery row gallery-with-description" id="aniimated-thumbnials" itemscope="" gallerize>
    <figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" *ngFor="let img of imageData" >
      <a itemprop="contentUrl">
          <img  [src]="img.srcUrl" class="img-fluid" />
          <div class="caption">
            <h4>Portfolio Title</h4>
            <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy.</p>
          </div>
      </a>
      </figure>
  </div>
</div>
<div class="info-block m-t-30">
  <nav aria-label="...">
    <ul class="pagination pagination-primary">
      <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">Previous</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
      <li class="page-item active"><a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
    </ul>
  </nav>
</div>
