<div class="container-fluid">
   <div class="row">
    <div class="col-xl-6 xl-100 col-lg-12 box-col-12">
      <app-simple-tab></app-simple-tab>
    </div>
    <div class="col-xl-6 xl-100 col-lg-12 box-col-12">
      <app-color-tab></app-color-tab>
    </div>
    <div class="col-xl-6 xl-100 col-lg-12 box-col-12">
      <app-color-option [color]="materialSecondary"></app-color-option>
    </div>
    <div class="col-xl-6 xl-100 col-lg-12 box-col-12">
      <app-color-option [color]="materialSuccess"></app-color-option>
    </div>
    <div class="col-xl-6 xl-100 col-lg-12 box-col-12">
      <app-material-tab-color [color]="materialSecondary"></app-material-tab-color>
    </div>
    <div class="col-xl-6 xl-100 col-lg-12 box-col-12">
      <app-material-tab-color [color]="materialSuccess"></app-material-tab-color>
    </div>
   </div>
 </div>