<div class="card">
   <div class="card-header pb-0">
     <h5>Pie Chart </h5>
   </div>
   <div class="card-body apex-chart">
     <div id="piechart">
      <apx-chart 
      [chart]="pieChart.chart"
      [colors]="pieChart.colors"
      [series]="pieChart.series"
      [labels]="pieChart.labels"
      [responsive]="pieChart.responsive">
      </apx-chart>
     </div>
   </div>
 </div>