<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Clipboard On Text Input</h5>
        </div>
        <div class="card-body">
          <div class="clipboaard-container" >
            <p class="card-description">Cut/copy from text input</p>
            <input class="form-control" id="clipboardExample1" type="text" name="clipboardExample1" placeholder="type some text to copy / cut" [(ngModel)]="clipboardExample1">
            <div class="mt-3">
              <button class="btn btn-primary btn-clipboard" type="button" (click)="copyFunction(clipboardExample1)"><i class="fa fa-copy"></i> Copy</button>
              <button class="btn btn-secondary btn-clipboard-cut ms-2" type="button" (click)="cutFunction('clipboardExample1')"><i class="fa fa-cut"></i> Cut</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Clipboard On Textarea</h5>
        </div>
        <div class="card-body">
          <div class="clipboaard-container">
            <p class="card-description">Cut/copy from textarea</p>
            <textarea class="form-control" id="clipboardExample2" [(ngModel)]="clipboardExample2" name="clipboardExample2" rows="1" spellcheck="false"></textarea>
            <div class="mt-3">
              <button class="btn btn-primary btn-clipboard" type="button"  (click)="copyFunction(clipboardExample2)"><i class="fa fa-copy"></i> Copy</button>
              <button class="btn btn-secondary btn-clipboard-cut ms-2" type="button" (click)="cutFunction('clipboardExample2')"><i class="fa fa-cut"></i> Cut</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Clipboard On Paragraph</h5>
        </div>
        <div class="card-body">
          <div class="clipboaard-container">
            <p class="card-description">Copy from Paragraph</p>
            <h6 class="border rounded card-body f-w-300" id="clipboardExample3">
              {{paragraphData}}
            </h6>
            <div class="mt-3">
              <button class="btn btn-primary btn-clipboard" type="button" (click)="copyFunction(paragraphData)"><i class="fa fa-copy"></i> Copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Copy Portion From Paragraph</h5>
        </div>
        <div class="card-body">
          <div class="clipboaard-container">
            <p class="card-description">Copy Portion From Paragraph</p>
            <h6 class="border rounded card-body f-w-300">Lorem ipsum <span class="bg-primary text-white p-1" id="clipboardExample4">{{copyHighlightTxt}}</span>, consectetur adipiscing elit,
                                                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </h6>
            <div class="mt-3">
              <button class="btn btn-primary btn-clipboard" type="button" (click)="copyFunction(copyHighlightTxt)"><i class="fa fa-copy"></i> Copy highlighted text</button>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
      </div>
    </div>
  </div>
</div>
