<div class="small-chart-widget chart-widgets-small">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Monthly Sales</h5>
    </div>
    <div class="card-body">
      <div class="chart-container">
        <div class="row">
          <div class="col-12">
            <div id="chart-widget8">
              <apx-chart [chart]="monthly.chart" [dataLabels]="monthly.dataLabels" [xaxis]="monthly.xaxis"
                [yaxis]="monthly.yaxis" [fill]="monthly.fill" [plotOptions]="monthly.plotOptions"
                [colors]="monthly.colors" [series]="monthly.series" [tooltip]="monthly.tooltip">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>