<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="login-card">
                <form class="theme-form login-form" [formGroup]="otpForm">
                    <h4> Enter OTP</h4>
                    <div class="form-group otp-input my-3">
                        <input #firstInput (input)="checkIfFormValid()" *ngFor="let input of otpInput; index as i"
                            #formRow type="tel" formControlName="{{input}}" class="form-control text-center mx-2 "
                            maxlength="1" (keyup)="keyUpEvent($event, i)" style="width: 50px" />
                    </div>
                    <div class="form-group">
                        <button #getOtpButton class="btn btn-primary btn-block" (click)="openModal(template)"
                            [disabled]="!otpForm.valid" (click)="continue()" type="button">
                            Submit OTP
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Reset Password</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form [formGroup]="passwordForm">
                <div class="mb-3">
                    <label for="password" class="form-label">Enter New Password</label>
                    <input type="text" class="form-control" id="password" formControlName="password">
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confrim Password</label>
                    <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                </div>
                <!-- Submit Button -->
                <div class="text-end">
                    <button type="submit" class="btn btn-success" (click)="resetPassword()">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>