 
<div class="container-fluid">
   <div class="row">
     <div class="col-xl-3 box-col-3 pe-0 xl-30">
      <app-file-manager-sidebar></app-file-manager-sidebar>
     </div>
     <div class="col-xl-9 col-md-12 box-col-9 xl-70">
      <app-file-items></app-file-items>
     </div>
   </div>
 </div>