<div class="card overflow-visible">
   <div class="card-header pb-0">
     <h5>Sub Nav</h5>
   </div>
   <div class="card-body">
     <div class="row">
       <div class="col-lg-6">
         <div>
           <h5>Static Sub Nav</h5>
         </div>
         <ul class="icon-lists border navs-icon">
           <li><a href="javascript:void(0)"><i data-feather="box"></i><span> Base</span></a></li>
           <li><a href="javascript:void(0)" ><i data-feather="folder-plus"></i><span> Advance</span></a>
             <ul>
               <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i>Scrollable</a></li>
               <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i>Tree View</a></li>
               <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i>Rating</a></li>
             </ul>
           </li>
           <li><a href="javascript:void(0)"><i data-feather="file-text"></i><span> Forms</span></a></li>
           <li><a href="javascript:void(0)"><i data-feather="server"></i><span> Tables</span></a></li>
         </ul>
       </div>
       <div class="col-lg-6 nav-md-mt">
         <div>
           <h5>Toggle Sub Nav</h5>
         </div>
         <ul class="icon-lists border navs-icon default-according style-1" id="accordionoc">
           <li><a href="javascript:void(0)"><i data-feather="box"></i><span> Base</span></a></li>
           <li>
             <button class="btn btn-link text-muted active" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" (click)="subMenu()"><i data-feather="folder-plus"></i><span> Advance</span></button>
             <ul class="collapse" [class.show]="open" id="collapseicon" aria-labelledby="collapseicon" data-parent="#accordionoc">
               <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i>Scrollable</a></li>
               <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i>Tree View</a></li>
               <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i>Rating</a></li>
             </ul>
           </li>
           <li><a href="javascript:void(0)"><i data-feather="file-text"></i><span> Forms</span></a></li>
           <li>
             <button class="btn btn-link text-muted collapsed pb-0" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="false" (click)="subMenu1()"><i data-feather="server"></i> Tables</button>
             <ul class="collapse" [class.show]="open1" id="collapseicon1" data-parent="#accordionoc">
               <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i>New</a></li>
               <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i>Replied</a></li>
               <li class="pl-navs-inline"><a href="javascript:void(0)"><i class="fa fa-angle-right"></i>Panding</a></li>
             </ul>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </div>