<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12 col-xl-6">
       <div class="row">
         <div class="col-sm-12">
          <app-default-form-layout></app-default-form-layout>
         </div>
         <div class="col-sm-12">
            <app-mega-form></app-mega-form>
         </div>
       </div>
     </div>
     <div class="col-sm-12 col-xl-6">
       <div class="row">
         <div class="col-sm-12">
            <app-horizontal-form-layout></app-horizontal-form-layout>
         </div>
         <div class="col-xl-12">
           <app-inline-form></app-inline-form>
         </div>
       </div>
     </div>
   </div>
 </div>