<div class="card">
   <div class="card-header pb-0">
     <h5>Bi-polar Line chart with area only</h5>
   </div>
   <div class="card-body">
     <div class="ct-5 flot-chart-container">
      <x-chartist [configuration]="chart4" ></x-chartist>
     </div>
   </div>
 </div>