 <div class="container-fluid">
   <div class="row">
     <div class="col-xl-3 xl-40 box-col-5">
       <app-job-filter></app-job-filter>
     </div>
     <div class="col-xl-9 xl-60 box-col-7">
      <app-apply-form></app-apply-form>
     </div>
   </div>
 </div>