<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12 col-xl-6 xl-100">
       <app-basic-tabs></app-basic-tabs>
     </div>
     <div class="col-sm-12 col-xl-6 xl-100">
       <app-tabs-button-left-align></app-tabs-button-left-align>
     </div>
     <div class="col-sm-12 col-xl-6 xl-100">
       <app-tabs-with-icon></app-tabs-with-icon>
     </div>
     <div class="col-sm-12 col-xl-6 xl-100">
       <app-tabs-right-align></app-tabs-right-align>
     </div>
     <div class="col-sm-12 col-xl-6 xl-100">
       <app-tabs-vertical></app-tabs-vertical>
     </div>
     <div class="col-sm-12 col-xl-6 xl-100">
       <app-pill-tabs></app-pill-tabs>
     </div>
     <div class="col-sm-12 col-xl-6 xl-100">
       <app-pill-tabs-with-icon></app-pill-tabs-with-icon>
     </div>
     <div class="col-sm-12 col-xl-6 xl-100">
       <app-pill-dark-color></app-pill-dark-color>
     </div>
     <div class="col-sm-12 col-xl-6 xl-100">
       <app-primary-color [tabs]="Primary"></app-primary-color>
     </div>
     <div class="col-sm-12 col-xl-6 xl-100">
      <app-primary-color [tabs]="Secondary"></app-primary-color> 
     </div>
   </div>
 </div>