    <div class="card">
      <div class="card-header pb-0">
        <h5>Default list</h5>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let list of lists | slice:0:5">{{list.title}}</li>
        </ul>
      </div>
    </div>