<div class="container-fuild">
    <div class="card pb-3" id="mock">
        <div class="card-header pb-0">
          <h5 class="text-underline">Privacy Policy for PRADNYA LEARN AND ACHIEVE PRIVATE LIMITED</h5>
        </div>
        <div class="card-body">
            <h6>
                *Information We Collect and How We Use It:
            </h6>

            <p class="">
                1. Information Provided During Registration:
                - We collect and store the information provided during the registration process to create and manage user accounts, ensuring a personalized experience for our users.
            </p>
            <p>
                2. Photos and Testimony:
                - Users may voluntarily provide photos and testimonies, which may be used for promotional purposes with explicit consent.

            </p>
            <p>
                3. Log Information:
   - Our systems automatically collect log information, including IP addresses, browser types, and pages visited, to analyze trends, administer the site, and gather demographic information for overall user experience improvement.

            </p>
            <p>
                4. Performance Information:
   - We collect data related to user performance within our products and services to enhance and tailor educational content based on individual needs.

            </p>

            <p>
                5. Video Recording During Interview for Scholarships:
   - Video recordings during scholarship interviews are solely used for the final selection process and are treated with the utmost confidentiality.

            </p>

            <h6>
                *Information Security:
            </h6>
            <p>
                We implement appropriate security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal information. Our security protocols ensure the safety and integrity of the data we collect.
            </p>

            <h6>
                *Use of Collected Information:
            </h6>

            <p>
                In addition to meeting legal requirements, we use the collected information to provide, maintain, protect, and improve our services. This includes personalization of content, troubleshooting, and enhancing user experiences.
            </p>

            <h6>
                *Information Sharing:
            </h6>

            <p>
                We only share personal information with external parties in the following limited circumstances:
            </p>

            <h6>
                - Standard Terms:
            </h6>

            <p>
                - Sharing information is done in accordance with the standard terms outlined in this privacy policy.
            </p>
            
            <h6>
                - Legal Obligations:
            </h6>

            <p>
                - When required by law or in response to legal processes, we may share information to protect our rights, defend against legal claims, or as necessary for compliance.
            </p>

            <h6>- Service Providers:</h6>
            <p>
                - We may engage trusted third-party service providers to assist in service delivery, subject to confidentiality agreements and compliance with this privacy policy.
            </p>

            <h6>
                Updates to Privacy Policy:
            </h6>

            <p>
                This privacy policy may be updated periodically. Users will be notified of any material changes through our website or other communication channels.
            </p>
            <hr>
           <div class="text-center">
            <h6>
                For further clarification or inquiries regarding our privacy practices, please contact us at [contact@learnandachieve.in].
            </h6>

            <h5>
                Thank you for entrusting PRADNYA LEARN AND ACHIEVE PRIVATE LIMITED with your information.
            </h5>
           </div>
        </div>
</div>