<div class="card">
   <div class="card-header pb-0">
     <h5>Extreme responsive configuration</h5>
   </div>
   <div class="card-body">
     <div class="ct-12 flot-chart-container">
      <x-chartist [configuration]="chart9" ></x-chartist>
     </div>
   </div>
 </div>