<div class="container-fluid accordian-page">
   <div class="row">
     <div class="col-sm-12 col-md-6 col-xl-6">
       <app-basic-accordion></app-basic-accordion>
     </div>
     <div class="col-sm-12 col-md-6 col-xl-6">
       <app-all-close-accordion></app-all-close-accordion>
     </div>
     <div class="col-sm-12 col-md-6 col-xl-6">
       <app-color-accordion></app-color-accordion>
     </div>
     <div class="col-sm-12 col-md-6 col-xl-6">
       <app-accordion-title-icon></app-accordion-title-icon>
     </div>
   </div>
 </div>