<div class="card">
   <div class="card-header pb-0">
     <h5>Basic Area Chart</h5>
   </div>
   <div class="card-body">
      <div id="basic-apex">
         <apx-chart 
           [chart]="turnover.chart"
           [series]="turnover.series"
           [colors]="turnover.colors"
           [dataLabels]="turnover.dataLabels"
           [xaxis]="turnover.xaxis"
           [yaxis]="turnover.yaxis"
           [stroke]="turnover.stroke"
           [labels]="turnover.labels"
           [legend]="turnover.legend">
           </apx-chart>
      </div>
   </div>
 </div>