<div class="card">
   <div class="card-header pb-0">
     <h5>Simple line chart</h5>
   </div>
   <div class="card-body">
     <div class="ct-1 flot-chart-container">
      <x-chartist [configuration]="chart10" ></x-chartist>

     </div>
   </div>
 </div>