/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "assets/scss/app.scss";

.router-wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100% - 47px);
  perspective: 1200px;
  transform-style: preserve-3d;
}

:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #60d7a9;
}

.modal.fade {
  backdrop-filter: blur(5px) !important;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

// body {
//     -webkit-touch-callout: none; /* Disable iOS context menu */
//     -webkit-user-select: none; /* Disable text selection */
//     -khtml-user-select: none; /* Disable Konqueror browser text selection */
//     -moz-user-select: none; /* Disable Firefox browser text selection */
//     -ms-user-select: none; /* Disable IE browser text selection */
//     user-select: none; /* Disable other browsers' text selection */
// }

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu .dropdown ul.nav-submenu li a.active{
  color: var(--theme-default) !important;
  font-weight: 600 !important;
  background: rgba(0, 124, 195, 0.1) !important;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .nav-submenu li a span{
  font-weight: 600 !important;
}