<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-6">
        <h3>{{title}}</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/b-sat/e-learning'">Home</a></li>
          <li class="breadcrumb-item" *ngIf="breadcrumbs?.parentBreadcrumb">{{breadcrumbs?.parentBreadcrumb}}</li>
          <li class="breadcrumb-item active" *ngIf="breadcrumbs?.childBreadcrumb">{{breadcrumbs?.childBreadcrumb}}
          </li>
        </ol>
      </div>
      <div class="col-sm-6">
        <app-bookmark></app-bookmark>
      </div>
    </div>
  </div>
</div>