<div class="card">
   <div class="card-header pb-0">
     <h5>Candlestick Chart </h5>
   </div>
   <div class="card-body">
     <div id="candlestick">
      <apx-chart 
      [chart]="candlestickChart.chart"
      [plotOptions]="candlestickChart.plotOptions"
      [series]="candlestickChart.series"
      [title]="candlestickChart.title"
      [xaxis]="candlestickChart.xaxis"
      [yaxis]="candlestickChart.yaxis"
      [colors]="candlestickChart.colors">
      </apx-chart>
     </div>
   </div>
 </div>