<div class="container-fluid">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Time Picker</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <input class="form-control" type="text" placeholder="10:50" [ngxMatTimepicker]="picker">
                <ngx-mat-timepicker #picker></ngx-mat-timepicker>  
        </div>
      </div>
    </div>
  </div>
    <div class="card">
      <div class="card-header pb-0">
        <h5>Date  Time Picker</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="datetime-picker">
              <form class="theme-form">
                <div class="mb-3 row g-3">
                  <label class="col-sm-3 col-form-label text-end">Connect picker to a input</label>
                  <div class="col-xl-5 col-sm-7 col-lg-8">
                    <div class="input-group date" id="dt-minimum" data-target-input="nearest">
                      <input class="form-control datetimepicker-input digits" type="text"  [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                      <owl-date-time #dt></owl-date-time>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row g-3">
                  <label class="col-sm-3 col-form-label text-end">Using Locales</label>
                  <div class="col-xl-5 col-sm-7 col-lg-8">
                    <div class="input-group date" id="dt-local" data-target-input="nearest">
                      <input class="form-control datetimepicker-input digits" type="text"  [owlDateTime]="dt1">
                      <div class="input-group-text"[owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></div>
                      <owl-date-time #dt1></owl-date-time>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row g-3">
                  <label class="col-sm-3 col-form-label text-end">Time Only</label>
                  <div class="col-xl-5 col-sm-7 col-lg-8">
                    <div class="input-group date" id="dt-time" data-target-input="nearest">
                      <input class="form-control datetimepicker-input digits" type="text"  [owlDateTime]="dt3">
                      <div class="input-group-text" data-target="#dt-time" data-toggle="datetimepicker" [owlDateTimeTrigger]="dt3" ><i class="fa fa-clock-o"></i></div>
                      <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row g-3">
                  <label class="col-sm-3 col-form-label text-end">Date Only</label>
                  <div class="col-xl-5 col-sm-7 col-lg-8">
                    <div class="input-group date" id="dt-date" data-target-input="nearest">
                      <input class="form-control datetimepicker-input digits" type="text"  [owlDateTime]="dt4">
                      <div class="input-group-text" data-target="#dt-date" [owlDateTimeTrigger]="dt4"><i class="fa fa-calendar"></i></div>
                    </div>
                    <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                  </div>
                </div>
                <div class="mb-3 row g-3">
                  <label class="col-sm-3 col-form-label text-end">No Icon (input field only)</label>
                  <div class="col-xl-5 col-sm-7 col-lg-8">
                    <input class="form-control datetimepicker-input digits" id="dt-noicon" type="text" data-toggle="datetimepicker" data-target="#dt-noicon">
                  </div>
                </div>
                <div class="mb-3 row g-3">
                  <label class="col-sm-3 col-form-label text-end">View Mode</label>
                  <div class="col-xl-5 col-sm-7 col-lg-8">
                    <div class="input-group date" id="dt-view" data-target-input="nearest">
                      <input class="form-control datetimepicker-input digits" type="text"  [owlDateTime]="dt5">
                      <div class="input-group-text" data-target="#dt-view" [owlDateTimeTrigger]="dt5"><i class="fa fa-calendar"></i></div>
                    </div>
                    <owl-date-time [pickerMode]="'dialog'" #dt5></owl-date-time>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>